body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.blue-color{
  color:#3A67C5;
}
.blue-bg{
  background-color:#3A67C5;
}
.signup{
  color: white;
  background-color:#87ABF5;
  cursor: pointer;
}
.signup:hover{
  color: white;
  background-color:#6a94e9;
  cursor: pointer;
}